.list-item {
    transition: .1s ease-in;
}

.list-item:hover {
    position: relative;
    left: 4px;
    color: var(--main-color);
}

.list-item.active {
    position: relative;
    left: 4px;
    color: var(--main-color);
}

.list-item.active::before {
    position: absolute;
    content: "";
    border: 4px solid #d0011b;
    border-color: transparent transparent transparent #d0011b;
    top: 50%;
    transform: translateY(calc(-50% - 1px));
    right: 100%;
}

.card-header {
    font-weight: bold;
}

.pagination-link {
    color: #9F9F9F;
}

.pagination-link.active {
    background-color: var(--main-color);
    color: #fff;
    border-radius: 4px;
}