/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    * {
        font-size: .7rem;
    }

    .card-title {
        height: 3rem;
    }

    .card {
        min-height: 100%;
    }

    .card-body {
        padding: 12px 12px !important;
    }

    .card-img-top {
        height: 150px;
        object-fit: cover;
    }

    .nav-item:hover {
        background-color: #fff !important;

    }

    .nav-item:hover a {
        color: var(--main-color) !important;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
/* @media only screen and (min-width: 600px) {...} */

/* Medium devices (landscape tablets, 768px and up) */
/* @media only screen and (min-width: 768px) {
    
} */

/* Large devices (laptops/desktops, 992px and up) */
/* @media only screen and (min-width: 992px) {...} */

/* Extra large devices (large laptops and desktops, 1200px and up) */
/* @media only screen and (min-width: 1200px) {...} */

/* CUSTOM WIDTHS */
.w-10,
.w-xs-10 {
    width: 10% !important;
}

.w-15,
.w-xs-15 {
    width: 15% !important;
}

.w-20,
.w-xs-20 {
    width: 20% !important;
}

.w-35 {
    width: 35%!important;
}

.w-70 {
    width: 70%!important;
}

.fs-1 {
    font-size: 2.5rem !important;
}

/* Similar to fs-1 */
.fs-2 {
    font-size: 2rem !important;
}

/* Similar to fs-2 */
.fs-3 {
    font-size: 1.75rem !important;
}

/* Similar to fs-3 */
.fs-4 {
    font-size: 1.5rem !important;
}

/* Similar to fs-4 */
.fs-5 {
    font-size: 1.25rem !important;
}

/* Similar to fs-5 */
.fs-6 {
    font-size: 1rem !important;
}

.fs-small {
    font-size: .8rem !important;
}

/* Similar to fs-6 */
/* BREAKPOINTS */

/* SM breakpoint */
@media (min-width: 576px) {

    /* CUSTOM WIDTHS */
    .w-sm-25 {
        width: 25% !important;
    }

    .w-sm-50 {
        width: 50% !important;
    }

    .w-sm-75 {
        width: 75% !important;
    }

    .w-sm-100 {
        width: 100% !important;
    }

    /* CUSTOM FONTSIZE */
    .fs-sm-1 {
        font-size: 2.5rem !important;
    }

    /* Similar to fs-1 */
    .fs-sm-2 {
        font-size: 2rem !important;
    }

    /* Similar to fs-2 */
    .fs-sm-3 {
        font-size: 1.75rem !important;
    }

    /* Similar to fs-3 */
    .fs-sm-4 {
        font-size: 1.5rem !important;
    }

    /* Similar to fs-4 */
    .fs-sm-5 {
        font-size: 1.25rem !important;
    }

    /* Similar to fs-5 */
    .fs-sm-6 {
        font-size: 1rem !important;
    }

    /* Similar to fs-6 */
}

/* MD breakpoint */
@media (min-width: 768px) {

    /* CUSTOM WIDTHS */
    .w-md-25 {
        width: 25% !important;
    }

    .w-md-50 {
        width: 50% !important;
    }

    .w-md-75 {
        width: 75% !important;
    }

    .w-md-100 {
        width: 100% !important;
    }

    /* CUSTOM FONTSIZE */
    .fs-md-1 {
        font-size: 2.5rem !important;
    }

    .fs-md-2 {
        font-size: 2rem !important;
    }

    .fs-md-3 {
        font-size: 1.75rem !important;
    }

    .fs-md-4 {
        font-size: 1.5rem !important;
    }

    .fs-md-5 {
        font-size: 1.25rem !important;
    }

    .fs-md-6 {
        font-size: 1rem !important;
    }
}

/* LG breakpoint */
@media (min-width: 992px) {

    /* CUSTOM WIDTHS */
    .w-lg-25 {
        width: 25% !important;
    }

    .w-lg-50 {
        width: 50% !important;
    }

    .w-lg-75 {
        width: 75% !important;
    }

    .w-lg-100 {
        width: 100% !important;
    }

    /* CUSTOM FONTSIZE */
    .fs-lg-1 {
        font-size: 2.5rem !important;
    }

    .fs-lg-2 {
        font-size: 2rem !important;
    }

    .fs-lg-3 {
        font-size: 1.75rem !important;
    }

    .fs-lg-4 {
        font-size: 1.5rem !important;
    }

    .fs-lg-5 {
        font-size: 1.25rem !important;
    }

    .fs-lg-6 {
        font-size: 1rem !important;
    }
}